<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Kubeflow prediction app</title>
</head>
<body>
    <div class="container">
        <h2>CircleCI Prediction App</h2>

        <form method="post">
            <label for="SepalLengthCm">SepalLengthCm</label>
            <input type="number" name="SepalLengthCm" step="any" required>

            <label for="SepalWidthCm">SepalWidthCm</label>
            <input type="number" name="SepalWidthCm" step="any" required>

            <label for="PetalLengthCm">PetalLengthCm</label>
            <input type="number" name="PetalLengthCm" step="any" required>

            <label for="PetalWidthCm">PetalWidthCm</label>
            <input type="number" name="PetalWidthCm" step="any" required>

            <button type="submit">PREDICT</button>
        </form>

        {% if prediction is not none %}
            <h3>Prediction : {{ prediction }}</h3>
        {% endif %}
    </div>

</body>
</html>